{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Sobre Nós</h1>
    <p class="lead">Nossa empresa foi fundada em 2024 com a missão de fornecer soluções de alta qualidade para nossos clientes. Com anos de experiência e uma equipe dedicada, estamos prontos para enfrentar qualquer desafio.</p>
    <p>Desde o início, nosso foco tem sido criar valor para nossos clientes e parceiros. Acreditamos que a inovação, o compromisso com a qualidade e o atendimento ao cliente são as chaves para o sucesso.</p>
    <p>Nosso time é composto por profissionais altamente qualificados e comprometidos com a excelência. Trabalhamos em conjunto para garantir que nossos clientes recebam o melhor serviço possível.</p>
</div>
{% endblock %}