{% include "guardian/partials/static_load.html" %}

<footer class="footer bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel urna id dui finibus bibendum.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Services</a></li>
                    <li><a href="#" class="text-light">Contact</a></li>
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <address>
                    1234 Street Name<br>
                    City, State, 12345<br>
                    <a href="mailto:info@example.com" class="text-light">info@example.com</a><br>
                    <a href="tel:+1234567890" class="text-light">+1 (234) 567-890</a>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <p class="mb-0">© 2024 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
