{% include "guardian/partials/static_load.html" %}

<div class="header py-4">
    <div class="row align-items-center">
        <div class="col-md-9">
            <h1>Guardian System</h1>
        </div>
        <div class="col"></div>
        <div class="col">
            <div class="dropdown">
                <button class="bt dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Maurício Rafael Casagrande
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Sair</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>
